/* * {
    box-sizing: border-box;
    margin-bottom: 50px;
    padding: 10px;
    font-family: Arial, sans-serif;
  } */
 /* .justify-content-md-center
 {
    margin-top:10%;
 } */
 .features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: 80px 0;
}

.feature {
  width: 300px;
  margin: 0 20px;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.feature img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.feature h3 {
  font-size: 24px;
  font-weight: bold;
  color: #f26b6b;
  text-align: center;
  margin: 20px 0;
}

.feature p {
  font-size: 16px;
  color: #555;
  text-align: center;
  margin-bottom: 20px;
} 
.feature Button {
  font-size: 16px;
  color: #fffdfd;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 80px;

} 
