/* Reset default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  .title1
{
  font-family: 'Times New Roman', Times, serif;
  margin-top: 5%;
  margin-left: 20%;
}
.title2 {
  font-family: 'Delicious Handrawn', cursive;
  font-size: 70px;
  margin-left: 40%;
}
.title3
{
  font-family: 'Times New Roman', Times, serif;
  margin-left: 60%;
}
  /* Style for the hero section */
  .hero {
    /* background-image: url(${backgroundImage}) ; */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
  }
  
  
  .hero p {
    font-size: 24px;
    color: #0a0a0a;
    text-shadow: 2px 2px #333;
    margin-bottom: 20px;
  }
  
  .hero button {
    background-color: #f26b6b;
    color: #fff;
    padding: 12px 32px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40%;

  }
  
  .hero button:hover {
    background-color: #ff9999;
  }
  
  /* Style for the features section */
  
  
  /* Style for the footer section */
  footer {
    background-color: #f26b6b;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    font-size: 18px;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
   
  